.MessageForm {
    display: flex;
    flex-direction: row;
}

.MessageInput {
    flex: 1;
    padding: 20px;
    border: 0;
    border-top: 1px solid #209d98;
    background-color: #f2f6f7;
    color: #209d98;
}

.MessageInput:focus {
    outline-color: #04d3bb;
}