.Users {
    display: flex;
    flex: 1;
    width: 25%;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 1px solid #209d98;
}

.UsersOnline {
    padding: 20px;
    text-align: center;
    background-color: #209d98;
    color: #ffffff;
}

.UsersList {
    margin: 0;
    padding: 0;
}

.UserItem {
    list-style: none;
    border-bottom: 1px solid #209d98;
    padding: 20px;
    margin: 0;
    background-color: #28bfb7;
    color: #ffffff;
}